Repository defenseunicorns/terraform-aws-uds-sops, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/iac, @defenseunicorns/uds, @defenseunicorns/iac-admin

CODEOWNERS:

* @defenseunicorns/iac @defenseunicorns/uds

# Privileged Files
/CODEOWNERS @defenseunicorns/iac-admin @defenseunicorns/iac
/LICENSE @defenseunicorns/iac-admin @defenseunicorns/iac
/.github/ @defenseunicorns/iac-admin @defenseunicorns/iac
/.gitignore @defenseunicorns/iac-admin @defenseunicorns/iac
/renovate.json @defenseunicorns/iac-admin @defenseunicorns/iac
/renovate.json5 @defenseunicorns/iac-admin @defenseunicorns/iac
/Makefile @defenseunicorns/iac-admin @defenseunicorns/iac

removing init file that is generated
  .release-please-manifest.json
Owners: @defenseunicorns/iac, @defenseunicorns/uds

comment out testing and non-functional parts
  .github/workflows/pre-commit-pr.yml
  .github/workflows/test-module.yml
Owners: @defenseunicorns/iac-admin, @defenseunicorns/iac

update renovate
  renovate.json5
Owners: @defenseunicorns/iac-admin, @defenseunicorns/iac

chage datasource checkov
  .tool-versions
Owners: @defenseunicorns/iac, @defenseunicorns/uds

change source
  .tool-versions
  renovate.json5
Owners: @defenseunicorns/iac, @defenseunicorns/uds, @defenseunicorns/iac-admin

add golangci
  .golangci.yml
Owners: @defenseunicorns/iac, @defenseunicorns/uds

change to releases
  .tool-versions
Owners: @defenseunicorns/iac, @defenseunicorns/uds

Update renovate.json5
  renovate.json5
Owners: @defenseunicorns/iac-admin, @defenseunicorns/iac
